<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.ikuyonn.project.socket.mapper.Mapper">
	<select id="getProjectContent" parameterType="string" resultType="message">
		select userID, userName, message, to_char(messageDate, 'YY-MM-DD HH24:MI:SS') messageDate
		from message
		where projectName = #{projectName}
	 	<!-- AND
				 to_char(messageDate, 'DD') = to_char(sysdate, 'DD') -->
		order by messageSeq
		
	</select>
	
	<select id="getLastOneProjectContent" parameterType="string" resultType="message">
		select userID, userName, message, to_char(messageDate, 'YY-MM-DD HH24:MI:SS') messageDate
		from message
		where projectName = #{projectName}
	 	<!-- AND
				 to_char(messageDate, 'DD') = to_char(sysdate, 'DD') -->
		AND
		rownum = 1
		order by messageSeq DESC
		
	</select>
	<insert id="insertContent" parameterType="message" >
		INSERT INTO message
			VALUES( message_seq.nextVal
					, #{userID}
					, #{userName}
					, #{message}
					, sysdate
					, #{projectName})
	</insert>
	
	<select id="searchByDate" parameterType="map" resultType="message">
		SELECT userID, userName, message, to_char(messageDate, 'YY-MM-DD HH24:MI:SS') messageDate
		FROM message
		WHERE projectName = #{projectName}
	 	AND
				 to_char(messageDate, 'YYYY-MM-DD') = #{date}
		order by messageSeq 	
	</select>
	
	<select id="getUserByProjectName" parameterType="string" resultType="message">
		SELECT 
			u.userID userID
			, u.userName
			, u.userPW
			, u.userBirth
			, u.USERPHONE
			, p.projectName 
		FROM
			usertable u 
			, project p 
			, joinproject jp
		WHERE
			u.userID = jp.userID 
		AND 
			p.projectSeq = jp.projectSeq
		AND
			#{value} = p.projectName
		
	</select>
	
	
	
	<select id="searchUserProjectName" parameterType="string" resultType="string">
		SELECT DISTINCT p.projectname 
			FROM joinproject jp , usertable u , project p
		WHERE #{VALUE} = jp.userid
			AND
		p.PROJECTSEQ = jp.PROJECTSEQ
	</select>
<!--  for maria db -->
	<!-- <select id="getRoomContent" parameterType="string" resultType="table">
		select id, message, date_format(date, "%Y-%m-%d %H:%i:%S") date
		from message
		where roomNum = #{roomNum} AND
				date_format(date, "%d") = date_format(now(), "%d")
		order by seq desc
		limit 125
	</select>
	
	<insert id="insertContent" parameterType="table" >
		INSERT INTO message
			VALUES( null
					, #{message}
					, #{id}
					, #{roomnum}
					, now())
	</insert> -->
</mapper>
