<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.ikuyonn.project.socket.mapper.Mapper">
	<select id="getProjectContent" parameterType="string" resultType="message">
		select userID, userName, message, to_char(messageDate, 'YY-MM-DD HH24:MI:SS') messageDate
		from message
		where projectName = #{projectSeq}
	 	<!-- AND
				 to_char(messageDate, 'DD') = to_char(sysdate, 'DD') -->
		order by messageSeq
		
	</select>
	
	<select id="getLastOneProjectContent" parameterType="string" resultType="message">
		<!-- select userID, userName, message, to_char(messageDate, 'YY-MM-DD HH24:MI:SS') messageDate
		from message
		where projectName = #{projectName} 	
		AND
		rownum = 1
		order by messageSeq DESC -->
		SELECT * FROM (SELECT userID, userName, message, to_char(messageDate, 'YY-MM-DD HH24:MI:SS') messageDate 
		FROM message 
		where projectSeq = #{projectSeq}  ORDER BY messageSeq DESC)  WHERE ROWNUM = 1
	</select>
	<insert id="insertContent" parameterType="message" >
		INSERT INTO message
			VALUES( message_seq.nextVal
					, #{userID}
					, #{userName}
					, #{message}
					, sysdate
					, #{projectSeq})
	</insert>
	
	<select id="searchByDate" parameterType="map" resultType="message">
		SELECT userID, userName, message, to_char(messageDate, 'YY-MM-DD HH24:MI:SS') messageDate
		FROM message
		WHERE projectSeq = #{projectName}
	 	AND
				 to_char(messageDate, 'YYYY-MM-DD') = #{date}
		order by messageSeq 	
	</select>
	
	<select id="getUserByProjectName" parameterType="string" resultType="message">
		SELECT Distinct
			u.userID userID
			, u.userName
			, u.userPW
			, u.userBirth
			, u.USERPHONE
			, p.projectName 
		FROM
			usertable u 
			, project p 
			, joinproject jp
		WHERE
			u.userID = jp.userID 
		AND 
			p.projectSeq = jp.projectSeq
		AND
			#{value} = p.projectSeq
		
	</select>
	
	
	
	<select id="searchUserProjectName" parameterType="string" resultType="map">
		SELECT DISTINCT p.projectName, p.projectSeq 
			FROM joinProject jp , userTable u , project p
		WHERE #{VALUE} = jp.userID
			AND
		p.projectSeq = jp.projectSeq
	</select>

	<delete id="deleteMessage" parameterType="string">
		Delete From message where projectSeq = #{value}
	</delete>
</mapper>
