<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.ikuyonn.project.uProject.mapper.ProjectMapper">
	<delete id="deleteProject" parameterType="int">
		delete project where projectseq = #{value}
	</delete>
	
	<delete id="deleteJoinProject" parameterType="map">
		delete joinproject 
			where 
			projectseq = #{projectSeq}				
	</delete>
	
	<select id="getUserProjectList" parameterType="map" resultType="Project">		
		<if test="userID != null">
		SELECT DISTINCT 
			p.projectName, p.projectseq, p.memberNum memberNum, p.due, p.projectMaster
		FROM 
			project p, joinproject jp, usertable ut 
		WHERE 
			#{userID} = jp.userid 
			AND 
			jp.PROJECTSEQ = p.PROJECTSEQ
		ORDER BY p.PROJECTSEQ
		</if>			
		<if test="userID == null">
			SELECT * FROM project
			ORDER BY PROJECTSEQ
		</if>	
	</select>
	
	<!-- <select id="getProjectList" parameterType="map" resultType="Project">		
		<if test="userID != null">
		SELECT DISTINCT 
			p.projectName, p.projectseq, p.due 
		FROM 
			project p, joinproject jp, usertable ut 
		WHERE 
			#{userID} = jp.userid 
			AND 
			jp.PROJECTNAME = p.PROJECTNAME
			AND
			#{projectName} = p.PROJECTNAME
		</if>			
		<if test="userID == null">
			SELECT * FROM project
		</if>	
	</select> -->
	
	<insert id="createProject" parameterType="Project">
		INSERT INTO PROJECT
		VALUES
			(PROJECT_SEQ.nextVal,
			#{projectMaster},
			#{projectName},
			#{due},
			null
			)
		<selectKey keyProperty="projectSeq" resultType="Integer" order="AFTER">

		SELECT PROJECT_SEQ.currVal FROM dual

		</selectKey>
	</insert>
	
	<insert id="joinProject" parameterType="map">
		INSERT INTO JOINPROJECT
		VALUES
			(#{userID},
			#{projectSeq}
			)
	</insert>
	<select id="getCountOfProjectMember" parameterType="int" resultType="map">
		SELECT COUNT(USERID) memberNum 
		FROM JOINPROJECT 
		WHERE PROJECTSEQ = #{VALUE}
	</select>
	
	<update id="updateCountOfProjectMember" parameterType="map">
		UPDATE PROJECT
		SET MEMBERNUM = #{MEMBERNUM}
		WHERE PROJECTSEQ = #{PROJECTSEQ}
	</update>
</mapper>
