<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ikuyonn.project.events.mapper.EventsMapper">
	<insert parameterType="Events" id="insertEvents"> 
		insert into events(eventSeq, userID, summary, description, startDate, endDate, projectSeq, color) 
		values(eventseq.nextval, #{userID}, #{summary}, #{description}, #{startDate}, #{endDate}, #{projectSeq}, #{color}) 
	</insert>
	
	<select id="privateEvents" parameterType="String" resultType="Events">
		select * from events where userID = #{userID} or projectSeq in (select projectSeq from joinproject where userID = #{userID})
	</select>
	
	<select id="oneEvents" parameterType="Events" resultType="Events">
		select * from events where eventSeq = #{eventSeq}
	</select>
	
 	<update id="updateEvents" parameterType="Events">
		update events set summary = #{summary}, startDate = #{startDate}, endDate = #{endDate}, color = #{color} where eventSeq = #{eventSeq}
	</update>
	
	<delete id="deleteEvents" parameterType="Events">
		delete events where eventSeq = #{eventSeq}
	</delete>
	
	<!-- <select id="projectEvents" resultType="Events">
		select * from events where userID = #{userID} or eventSeq = (select projectSeq from joinProject where userID = #{userID})
	</select> -->
	
	<select id="projectEventsList" parameterType="String" resultType="Events">
		select * from events where projectSeq = #{projectSeq}
	</select>
</mapper>