<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ikuyonn.project.nameCard.mapper.NameCardMapper">
	<insert id="insertNameCard" parameterType="NameCard">
		INSERT INTO NAMECARD(	
			NCSEQ,
			USERID,
			NCCHECK,
			NCNAME,
			NCEMAIL,
			HUSERID,
			NCMOBILE,
			NCPHONE,
			NCFAX,
			NCCOMPANY,
			NCDEPARTMENT,
			NCTITLE,
			NCWEBSITE,
			NCADDRESS,
			NAMECARDURL,
			EMAILCHECK
		)
		VALUES(
			NCSEQ.NEXTVAL,
			#{userID},			
			#{ncCheck},
			#{ncName},
			#{ncEmail},
			#{hUserID, jdbcType=VARCHAR},
			#{ncMobile, jdbcType=VARCHAR},	
			#{ncPhone, jdbcType=VARCHAR},
			#{ncFax, jdbcType=VARCHAR},	
			#{ncCompany, jdbcType=VARCHAR},
			#{ncDepartment, jdbcType=VARCHAR},
			#{ncTitle, jdbcType=VARCHAR},
			#{ncWebsite, jdbcType=VARCHAR},
			#{ncAddress, jdbcType=VARCHAR},
			#{nameCardUrl, jdbcType=VARCHAR},
			#{emailCheck, jdbcType=VARCHAR}
		)
	</insert>
	<select id="selectNameCard" parameterType="NameCard" resultType="NameCard">
		SELECT * FROM NAMECARD WHERE NCEMAIL = #{ncEmail} AND USERID = #{userID}
	</select>
	<select id="getTotal" parameterType="map" resultType="int">
		SELECT COUNT(NCSEQ) from NAMECARD
		WHERE
			USERID = #{userID}
		<if test="emailCheck != null and type == null">
			AND EMAILCHECK = #{emailCheck}	
		</if>
		<if test="type == 'ncName' and emailCheck == 2">
			AND NCNAME LIKE '%' || #{searchText} || '%'
		</if>
		<if test="type == 'ncEmail' and emailCheck == 2">
			AND NCEMAIL LIKE '%' || #{searchText} || '%'
		</if>
		<if test="type == 'ncCompany' and emailCheck == 2">
			AND NCCOMPANY LIKE '%' || #{searchText} || '%'
		</if>
		<if test="type == 'ncName' and emailCheck != null and emailCheck != 2">
			AND EMAILCHECK = #{emailCheck} AND NCNAME LIKE '%' || #{searchText} || '%'
		</if>
		<if test="type == 'ncEmail' and emailCheck != null and emailCheck != 2">
			AND EMAILCHECK = #{emailCheck} AND NCEMAIL LIKE '%' || #{searchText} || '%'
		</if>
		<if test="type == 'ncCompany' and emailCheck != null and emailCheck != 2">
			AND EMAILCHECK = #{emailCheck} AND NCCOMPANY LIKE '%' || #{searchText} || '%'
		</if>
	</select>
	<select id="selectNameCardList" parameterType="map" resultType="NameCard">
		SELECT
			USERID,
			NCCHECK,
			NCNAME,
			NCEMAIL,
			NCMOBILE,
			NCPHONE,
			NCFAX,
			NCCOMPANY,
			NCDEPARTMENT,
			NCTITLE,
			NCWEBSITE,
			NCADDRESS,
			NAMECARDURL
		FROM NAMECARD
		WHERE USERID = #{userID}
		<if test="emailCheck != null and type == null">
			AND	EMAILCHECK = #{emailCheck}	
		</if>
		<if test="type == 'ncName' and emailCheck == 2">
			AND	NCNAME LIKE '%' || #{searchText} || '%'
		</if>
		<if test="type == 'ncEmail' and emailCheck == 2">
			AND	NCEMAIL LIKE '%' || #{searchText} || '%'
		</if>
		<if test="type == 'ncCompany' and emailCheck == 2">
			AND	NCCOMPANY LIKE '%' || #{searchText} || '%'
		</if>
		<if test="type == 'ncName' and emailCheck != null and emailCheck != 2">
			AND	EMAILCHECK = #{emailCheck} AND NCNAME LIKE '%' || #{searchText} || '%'
		</if>
		<if test="type == 'ncEmail' and emailCheck != null and emailCheck != 2">
			AND	EMAILCHECK = #{emailCheck} AND NCEMAIL LIKE '%' || #{searchText} || '%'
		</if>
		<if test="type == 'ncCompany' and emailCheck != null and emailCheck != 2">
			AND	EMAILCHECK = #{emailCheck} AND NCCOMPANY LIKE '%' || #{searchText} || '%'
		</if>
		ORDER BY NCSEQ DESC
	</select>
	<delete id="deleteNameCard" parameterType="NameCard">
		DELETE FROM NAMECARD WHERE NCEMAIL = #{ncEmail} AND USERID = #{userID}
	</delete>
	<update id="upDateNameCard" parameterType="NameCard">
		UPDATE NAMECARD SET 
			NCCOMPANY = #{ncCompany},
			NCWEBSITE = #{ncWebsite},
			NCNAME = #{ncName},
			NCTITLE = #{ncTitle},
			NCDEPARTMENT = #{ncDepartment},
			NCADDRESS = #{ncAddress},
			NCMOBILE = #{ncMobile},
			NCPHONE = #{ncPhone},
			NCFAX = #{ncFax},
			NAMECARDURL = #{nameCardUrl}
		WHERE
			NCEMAIL = #{ncEmail} AND USERID = #{userID}
	</update>
	<select id="selectEmailAddress" parameterType="NameCard" resultType="String">
		SELECT USERID FROM EMAIL WHERE EMAILADDRESS = #{ncEmail}
	</select>
	<select id="getAllNC" parameterType="String" resultType="NameCard">
		SELECT
			USERID,
			NCCHECK,
			NCNAME,
			NCEMAIL,
			NCMOBILE,
			NCPHONE,
			NCFAX,
			NCCOMPANY,
			NCDEPARTMENT,
			NCTITLE,
			NCWEBSITE,
			NCADDRESS,
			NAMECARDURL,
			EMAILCHECK
		FROM NAMECARD
		WHERE USERID=#{userID} 
		ORDER BY NCSEQ DESC
	</select>
	<select id="getMember" parameterType="NameCard" resultType="NameCard">
		SELECT
			USERID,
			NCCHECK,
			NCNAME,
			NCEMAIL,
			NCMOBILE,
			NCPHONE,
			NCFAX,
			NCCOMPANY,
			NCDEPARTMENT,
			NCTITLE,
			NCWEBSITE,
			NCADDRESS,
			NAMECARDURL,
			EMAILCHECK
		FROM NAMECARD
		WHERE USERID=#{userID} and EMAILCHECK=#{emailCheck}
		ORDER BY NCSEQ DESC
	</select>
</mapper>
