<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ikuyonn.project.nameCard.mapper.NameCardMapper">
	<insert id="insertNameCard" parameterType="NameCard">
		INSERT INTO NAMECARD(	
			NCSEQ,
			USERID,
			NCCHECK,
			NCNAME,
			NCEMAIL,
			NCMOBILE,
			NCPHONE,
			NCFAX,
			NCCOMPANY,
			NCDEPARTMENT,
			NCTITLE,
			NCWEBSITE,
			NCADDRESS,
			NAMECARDURL
		)
		VALUES(
			NCSEQ.NEXTVAL,
			#{userID},			
			#{ncCheck},
			#{ncName},
			#{ncEmail},
			#{ncMobile, jdbcType=VARCHAR},	
			#{ncPhone, jdbcType=VARCHAR},
			#{ncFax, jdbcType=VARCHAR},	
			#{ncCompany, jdbcType=VARCHAR},
			#{ncDepartment, jdbcType=VARCHAR},
			#{ncTitle, jdbcType=VARCHAR},
			#{ncWebsite, jdbcType=VARCHAR},
			#{ncAddress, jdbcType=VARCHAR},
			#{nameCardUrl, jdbcType=VARCHAR}
		)
	</insert>
	<select id="selectNameCard" parameterType="NameCard" resultType="NameCard">
		SELECT * FROM NAMECARD WHERE NCEMAIL = #{ncEmail} AND USERID = #{userID}
	</select>
	<select id="getTotal" parameterType="map" resultType="int">
		SELECT COUNT(NCSEQ) from NAMECARD
		<if test="type == 'ncName'">
			WHERE
				NCNAME LIKE '%' || #{searchText} || '%'
		</if>
		<if test="type == 'ncEmail'">
			WHERE
				NCEMAIL LIKE '%' || #{searchText} || '%'
		</if>
		<if test="type == 'ncCompany'">
			WHERE
				NCCOMPANY LIKE '%' || #{searchText} || '%'
		</if>
	</select>
	<select id="selectNameCardList" parameterType="map" resultType="NameCard">
		SELECT
			USERID,
			NCCHECK,
			NCNAME,
			NCEMAIL,
			NCMOBILE,
			NCPHONE,
			NCFAX,
			NCCOMPANY,
			NCDEPARTMENT,
			NCTITLE,
			NCWEBSITE,
			NCADDRESS,
			NAMECARDURL
		FROM NAMECARD
		<if test="type == 'ncName'">
			WHERE
				NCNAME LIKE '%' || #{searchText} || '%'
		</if>
		<if test="type == 'ncEmail'">
			WHERE
				NCEMAIL LIKE '%' || #{searchText} || '%'
		</if>
		<if test="type == 'ncCompany'">
			WHERE
				NCCOMPANY LIKE '%' || #{searchText} || '%'
		</if>
		ORDER BY NCSEQ DESC
	</select>
	<delete id="deleteNameCard" parameterType="String">
		DELETE FROM NAMECARD WHERE NCEMAIL = #{email}
	</delete>
	<update id="upDateNameCard" parameterType="NameCard">
		UPDATE NAMECARD SET 
			NCCOMPANY = #{ncCompany},
			NCWEBSITE = #{ncWebsite},
			NCNAME = #{ncName},
			NCTITLE = #{ncTitle},
			NCDEPARTMENT = #{ncDepartment},
			NCADDRESS = #{ncAddress},
			NCEMAIL = #{ncEmail},
			NCMOBILE = #{ncMobile},
			NCPHONE = #{ncPhone},
			NCFAX = #{ncFax},
			NAMECARDURL = #{nameCardUrl}
		WHERE
			NCEMAIL = #{ncEmail} AND USERID = #{userID}
	</update>
</mapper>
