<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ikuyonn.project.nameCard.mapper.NameCardMapper">
	<insert id="insertNameCard" parameterType="NameCard">
		INSERT INTO NAMECARD(	
			NCSEQ,
			USERID,
			NCCHECK,
			NCNAME,
			NCEMAIL,
			NCMOBILE,
			NCPHONE,
			NCFAX,
			NCCOMPANY,
			NCDEPARTMENT,
			NCTITLE,
			NCWEBSITE,
			NCADDRESS,
			NAMECARDURL
		)
		VALUES(
			NCSEQ.NEXTVAL,
			#{userID},			
			#{ncCheck},
			#{ncName},
			#{ncEmail},
			#{ncMobile, jdbcType=VARCHAR},	
			#{ncPhone, jdbcType=VARCHAR},
			#{ncFax, jdbcType=VARCHAR},	
			#{ncCompany, jdbcType=VARCHAR},
			#{ncDepartment, jdbcType=VARCHAR},
			#{ncTitle, jdbcType=VARCHAR},
			#{ncWebsite, jdbcType=VARCHAR},
			#{ncAddress, jdbcType=VARCHAR},
			#{nameCardUrl, jdbcType=VARCHAR}
		)
	</insert>
</mapper>
