@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
/* 네비게이션 로고 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font-family: "Noto Sans KR", sans-serif;	
	font-weight: 400;
}
a{
	color: #42a5f4;
}
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index:9999;
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    top: 25%;
}

/* 상단네비바 */
.navbar{	
	min-height: 60px;
}

.main-navbar .navbar .navbar-nav .dropdown-menu{
	top: 68px;
}

.nameCardPlus{
	position: relative;
    width: 100%;
    height: 250px;
    margin-top: 25px;
}

.nameCardPlus > div{
	width: 48%;
    height: 100%;
    float: left;
	border: 1px solid #d4d4d4;
    border-radius: 5px;
    padding: 40px;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;
}

.nameCardPlus > div:first-child{
    margin-right:4%;
}

.nameCardPlus > div > span:first-child{
	font-size: 90px;
    display: block;
    color: #c3c7cc;
    margin-bottom: 10px;
    transition: 0.3s;
}

.nameCardPlus > div:hover{
	background: #f5fbff;
}

.nameCardPlus > div:hover > span:first-child{
	color: #42a5f5;
}

/* 버튼,카드해더 */
.btn-black:not([disabled]):not(.disabled).active, .btn-black:not([disabled]):not(.disabled):active, .btn-white:not([disabled]):not(.disabled).active, .btn-white:not([disabled]):not(.disabled):active {
    box-shadow: none!important;
    background-color: #42a5f5;
    border-color: #42a5f5;
    color: #fff;
}

.card-small .card-body, .card-small .card-footer, .card-small .card-header{
	padding: 10px;
}

.btn-primary{
	color: #fff;
    border-color: #42a5f5;
    background-color: #42a4f4;
    box-shadow: none;
}

.btn-outline-primary{
	background-color: transparent;
    background-image: none;
    border-color: #42a5f5;
    color: #42a5f5;
}

.card-small{
/* 	box-shadow:none; */
}

#fileBox{
	height: 115px;
    margin-bottom: 20px;
    border: 2px dashed #9b9b9b;
    border-radius: 3px;
}
.center{
	margin:0 auto;
}

#imgIcon{
	display:none;
	margin: 50px auto;
    width: 360px;
}

#imgIcon > img{
	width: 100%;
}

#ajaxLoading{
	position: absolute;
    left: 46%;
    top: 50%;
}

#ajaxLoading > img{
	width: 50px;
}

/* 파일업로드 */
#uploadBox{
	position: relative;
	margin: 50px 0;
	border: 2px dashed #b6b6b6;
    border-radius: 16px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
	text-align: center;
	height: 380px;
	transition: 0.3s;
}

#uploadBox:hover{
	border: 2px dashed #5f9fe5;
	background: #5f9fe51f;
}

#uploadBox > span{
	font-size: 0.95rem;
	margin:55px 0;
	display: block;
}

#uploadBox > #image{
	height: 100%;
    display: none;
    margin: 0 auto;
}

#fileUplode{
	cursor: pointer;
    position: absolute;
    opacity: 0;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#formBox{
	margin:15px 0;
}


/* owl-carousel */
.carousel-wrap{
	padding:20px;
}

.owl-prev span, .owl-next span {
	color: #c9e3ff;
}

.owl-prev span:hover, 
.owl-next span:hover {
	color: #8199A3;
}

.owl-prev, .owl-next {
	position: absolute;
	top: 0;
	height: 100%;
}

.owl-prev {
	left: 7px;
}

.owl-next {
	right: 7px;
}

.owl-list{
	margin: 3px;
    background: #000;
}

.owl-list > img{
	border: 1px solid #dfdfdf;
	opacity: 0.5;
	transition: 0.3s;
}

.imgActive > img{
	opacity: 1;
}

/* removing blue outline from buttons */
button:focus, button:active {
   outline: none;
}

/* 명함미리보기 */
#nameCardDeWrap{
	background: #fcfcfc;
}

.nameCardView{ 
	width: 100%;
    background: #fff;
    height: 380px;
    border-radius: 0.4rem;  
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13), 0 3px 6px rgba(0, 0, 0, 0.07);
}

.leftNameCard{
	float: left;
    background: #e6e6e6;
    width: 35%;
    height: 100%;
    background-size: cover;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
}

.rightNameCard{
	position: relative;
	float: right;
    height: 100%;
    width: 65%;
    background: #ffffff;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}

.r-wrap{
	position: absolute;
    width: 100%;
    height: 100%;
    padding: 30px;
}

#r-t-wrap{
	text-align:right;	
}

#company{
	font-size: 20pt;
}

#name{
	font-size: 20pt;
}

#r-b-wrap{
	position: absolute;
    bottom: 30px;
	width: 87%;
}
/* 명함리스트 */
#nameCardTableWrap{
	height: 432px;
/*     overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 3.75rem - 1px); */
}

.nameCardTable{
    padding: 12px 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-bottom: 1px solid #e1e5eb;
    transition: 0.4s;
}

.nameCardTable:hover{
	background: #fbfbfb;
}

#nameCardTableWrap > .active{
	background: #f4f9ff;
	cursor: default;
}

.nec{
	float: left;
}

.nec > ul > li:first-child > span{
	font-size: 13pt;
	color: #212529;
}

.nec > ul > li > span{
	color: #737373;
}

.nbg{
	position: absolute;
    right: 20px;
	top: 25px;
}

.nec > ul{
    margin: 0;
    padding: 0;
}


/* 페이징버튼 */
.pagingWrap{
	text-align: center;
}

.paging{
	display: inline-block;
    padding-left: 0;
    margin: 0;
    border-radius: 4px;
}

.paging > li{
	display: inline;
}

.paging > li:first-child > a {
	margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.paging > .asi > a {
	padding: 9px 9px;
    font-size: 10px;
}

.paging > li > a {
	position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #5d9bde;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
	transition: 0.3s;
	animation: unset;
}

.paging > .active > a{
	color: #fff;
    cursor: default;
    background-color: #5d9bde;
    border-color: #5d9bde;	
}

.paging > .active > a:hover{
	background-color: #5d9bde;
}

.paging > li > a:hover{
	background-color: #f9f9f9;
}

.paging > li:last-child > a {
	border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* 명함상세보기 */
.debtn{
	text-align: right;
}
#nameCardSum{
	margin: 53px auto;
}

.nameCardView2{
	width: 100%;
    background: #fff;
    height: 330px;
    border-radius: 0.4rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13), 0 3px 6px rgba(0, 0, 0, 0.07);
}
.nameCardDetail{
	height: 33px;
}

/* 명함 추가버튼 */
.namecardPlus{
	float: right;
	cursor: pointer;
}

.namecardPlus > a{
	color: #c3c7cc;
    display: block;
    font-size: 25px;
	padding: 5px;
	transition: 0.3s;
}

#selectGroup{
	height: 39px;
}

.namecardPlus > a:hover{
	color: #42a5f5;
}